doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    <script src="https://kit.fontawesome.com/bd7b0a019d.js" crossorigin="anonymous"></script>
    //- css작업해주기 전에 페이지가 그나마 덜 못생겨 보이게 해주는 것
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.9.0/mvp.css">
    link(rel="stylesheet", href="./public/css/style.css")
  body 
      header
        <i class="fa-solid fa-video"></i>
        h1 Soom
      main
        div#welcome
          h2 Welcome join our room!!
          form
            input(placeholder="room name", required, type="text")
            input#nickname(placeholder="Your nickname", required, type="text")
            button Enter room
            
        div#call(class="call")
          div#streamBox
            div#myStream
              video#myFace(autoplay, playsinline, width="500", height="500")
              div#controllers
                div#controller
                  button#mute
                    i(class="fas fa-microphone fa-2x unMuteIcon")
                    i(class="fas fa-microphone-slash fa-2x muteIcon")
                  button#camera
                    i(class="fas fa-video fa-2x cameraIcon")
                    i(class="fas fa-video-slash fa-2x unCameraIcon")
                div#controls
                  select#cameras
              video#peerFace(autoplay, playsinline, width="500", height="500")
      script(src="/socket.io/socket.io.js")
      script(src="/public/js/app.js") 