doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Noom
    //- css작업해주기 전에 페이지가 그나마 덜 못생겨 보이게 해주는 것
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.9.0/mvp.css">
  body 
      header
        h1 Noom
      main
        div#welcome
          form
            input(placeholder="room name", required, type="text")
            button Enter Room
          h4 Open Rooms:
          ul
        div#room 
          h3
          ul 
          form#name
            input(placeholder="nickname", required, type="text")
            button Save
          form#msg
            input(placeholder="message", required, type="text")
            button Send
      //- socketIO에는 이미 room이라는 기능이 있다(socketIO를 다운받고 사용)
      script(src="/socket.io/socket.io.js")
      script(src="/public/js/app.js") 